.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
*~
*.apk
local.properties
*.jar
.classpath
.project
.cproject

*.ko.cmd
*.mod.o.cmd
*.o.cmd
.tmp_versions/**
.tmp_versions
Module.symvers
*.ko
*.mod.c
*.mod.o
*.o
modules.order

kernel/.pf_ring.o.d
kernel/.tmp_pf_ring.ver
